header {
  h1 {
    font-size: 1.25rem;
  }
  img {
      margin: 0;
      width: 3.75rem;
  }
}

.form {
    .textareaDiv {
      width: 100%;
    }
  }

.item {
  transition: transform 500ms;
    ul {
        li {
            font-family: 'Courier New', Courier, monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 800;
        }
    }
}

.item:hover {
  transform: scale(1.1);
}

#layout {
  background-color: rgba(0, 0, 0, 0.503);
  #errorMessage {
  width: 40%;
  p {
    font-size: 1.3125rem;
  }
  ul {
    font-size: 1.125rem;
    li {
      padding: 0.5rem 0.25rem;
    }
  }
}
}

/* Handle Media Responsivity */
@media screen and (min-width: 768px) {
  header {
    h1 {
      font-size: 2.5rem;
    }
  }
  .form {
    .textareaDiv {
      width: 50%;
    }
  }
  .myInput {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #layout {
    #errorMessage {
      width: 100%;
      transform: scale(0.9);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #layout {
    #errorMessage {
      width: 60%;
      transform: scale(1);
    }
  }
}